<article class="row d-flex">
    <div class="col-9">
      <p>Transaction <%= transac.name %></p>
      <p><%= transac.created_at %></p>
    <div class="col-3">
      <span>$<%= transac.amount %></span>
    </div>
  </article>